head

@font-face {
    font-family:'Roboto';
    src:url('Roboto-Regular.ttf')

h1
    {
        display: flex;
        justify-content: space-around;
    }

font-size: 12px

h2

{
    text-align:right
    flex-direction: right;
}

img
{
    float: right;   
    border: 1px solid black;
    box-shadow: 2px 2px 2px black;
    width: auto;
}

h2
{
    color: #6E4A46;
}






