
@font-face {
    font-family:'Roboto';
    src:url('Roboto/Roboto-Regular.ttf')}


header /* Utilisation de la police qu'on vient de définir sur les titres */
    {
        font-family: 'Roboto', Arial, serif;
    }
nav li {
        list-style: none;
        padding-left: 30px;
}

h1

colorblue
    {
        display: flex;
        justify-content: space-around;
    }

h2, h3, h4
{
    text-align:right;
    flex-direction: right;
}

img
{
    float: right;   
    border: 1px solid black;
    box-shadow: 2px 2px 2px black;
    width: auto;
}

h2
{
    color: #6E4A46;
}

#parent
{ 

}

.colorblue
{color:blue}





